.container-fluid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: tan;
}
form.signup,
form.login {
  padding: 0;
}

.navbar {
}
.navbar-header {
}
.flexbox-products {
  display: flex;
  flex-direction: row;
}
.flexbox-products #productbox {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
  padding: 20px;
  margin: 10px;
}
/* .container {
  width: 80%;
  margin: auto;
  overflow: hidden;
} */

header {
  background: gray;
  color: whitesmoke;
  padding-top: 30px;
}

header a {
  color: tan;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #companybranding {
  float: left;
}

header #companybranding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}
